@{
    ViewData["Title"] = "Dashboard";
}
@section css {
    <link href="@Url.Content("~/css/Dashboard.css")" rel="stylesheet" />
}

<div class="container p-5">
    <div class="row">
        <div class="col-10 text-left">
            <h1>Dashboard</h1>
        </div>
    </div>
    <div id="cards">
        <div class="card" id="dashboard_card">
            <div class="card_title"> 
                <h3>Meest recent</h3> 
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Titel</th>
                            <th scope="col">Datum</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var article in ViewData["LastArticles"] as List<Article>)
                        {
                        <tr>
                            <td>@article.Title</td>
                            <td>@article.publishDate</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card" id="dashboard_card">
            <div class="card_title">
                <h3>Meest bekeken</h3>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Titel</th>
                            <th scope="col">Total Views</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var article in ViewData["TopTotalViews"] as List<Article>)
                        {
                        <tr>
                            <td>@article.Title</td>
                            <td>@article.totalViewCount</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card" id="dashboard_card">
            <div class="card_title">
                <h3>Meeste kijkers</h3>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Titel</th>
                            <th scope="col">Views</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var article in ViewData["TopViews"] as List<Article>)
                        {
                        <tr>
                            <td>@article.Title</td>
                            <td>@article.viewCount</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

        <script>
            $('#Dashboard').addClass('navContainer__item navContainer__item_state-active');
        </script>
