@{
    ViewData["Title"] = "Edit Blog";
}
@section css {
    <link href="@Url.Content("~/css/Post.css")" rel="stylesheet" />
}
<script src="~/js/editer/build/ckeditor.js"></script>
<div class="container" onload="loadContent()">
    <div class="editor">

    </div>
    @using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { onsubmit = "return EditValue()" }))
    {

        <input hidden name="Id" value="@ViewBag.article.Id" />
        <input hidden name="TribeId" value="@ViewBag.article.TribeId" />
        <input hidden name="RockstarId" value="@ViewBag.article.RockstarId" />
        <input name="Title" id="Title" value="@ViewBag.article.Title">
        <input hidden name="Content" id="TextContent" value="" />

        <input type="submit" value="Edit" />

    }
    <button onclick="editor.setData(@ViewBag.article.Content"></button>
</div>
<script>
    ClassicEditor
        .create(document.querySelector('.editor'), {
            licenseKey: '',
        })
        .then(editor => {
            window.editor = editor;
        })
        .catch(error => {
            console.error('Oops, something went wrong!');
            console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
            console.warn('Build id: yj0c4x9dsld2-wobfokcq8hgl');
            console.error(error);
        });
</script>
<script>
    function EditValue() {
        document.getElementById("TextContent").value = editor.getData();
        return true;
    }
    function loadContent() {
        editor.setData(@ViewBag.article.Content);
    }

    $('#Add').addClass('navContainer__item navContainer__item_state-active');
</script>
