@{
    ViewData["Title"] = "Bewerk Pagina";
}
@section css {
    <link href="@Url.Content("~/css/Post.css")" rel="stylesheet" />
}
<script src="~/js/editer/build/ckeditor.js"></script>
<div class="container p-5">
    <h1>Artikel Bewerken</h1>
    <div id="post">
        @using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { onsubmit = "return EditValue()" }))
        {
            <div>
                <h1 id="Title_text">Titel</h1>
                <input id="btn_add" class="btn" type="submit" value="Bewerken" />
            </div>
            <div>
                <input hidden name="Id" value="@ViewBag.article.Id" />
                <input hidden name="TribeId" value="@ViewBag.article.TribeId" />
                <input hidden name="RockstarId" value="@ViewBag.article.RockstarId" />
                <input name="Title" id="Title" value="@ViewBag.article.Title">
                <textarea hidden id="TextContent" name="Content">@ViewBag.article.Content</textarea>
            </div>
        }
        <h1 style="padding-left: 1em;">Artikel</h1>
        <div class="editor">

        </div>
    </div>
</div>
<script>
    ClassicEditor
        .create(document.querySelector('.editor'), {
            licenseKey: '',
        })
        .then(editor => {
            window.editor = editor;
        })
        .catch(error => {
            console.error('Oops, something went wrong!');
            console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
            console.warn('Build id: yj0c4x9dsld2-wobfokcq8hgl');
            console.error(error);
        });
</script>
<script>
    function EditValue() {
        document.getElementById("TextContent").value = editor.getData();
        return true;
    }    

    var data = document.getElementById("TextContent").value;
    window.editor.setData(data);

    $('#Add').addClass('navContainer__item navContainer__item_state-active');
</script>
