@{
    ViewData["Title"] = "Start Pagina";
}
@section css {
    <link href="@Url.Content("~/css/Home.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/Delete.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/ModelOverwrite.css")" rel="stylesheet" />
}

<div class="container p-5">
    <div class="text-center">
        <div class="row">
            <div class="col-10 text-left">
                <h1>Startpagina</h1>
            </div>
            <div class="col 1 text-sm-left mt-3">
                <a id="add_btn" class="btn btn-primary" asp-action="add" asp-controller="home">Artikel maken</a>
            </div>
        </div>
        <div id="table_block" class="mt-2 rounded">
            <div class="row">
                <div class="col-6 text-left pl-5 pt-2 pb-2">
                    <h2 id="title">Artikelen</h2>
                </div>
                <div class="col 1 mr-2" style="align-self: center; text-align: right;">
                    <input type="text" placeholder="Zoekopdracht" />
                </div>
            </div>
            <table class="table">
                <tr>
                    <th scope="col">Titel</th>
                    <th scope="col">Tribe</th>
                    <th scope="col">Rockstar</th>
                    <th style="width: 35%" scope="col">Acties</th>
                </tr>
                @foreach (var article in ViewData["Articles"] as List<Article>)
                {
                    <tr class="table_row">
                        <td scope="row">@article.Title</td>
                        <td>@article.TribeName</td>
                        <td>@article.RockstarName</td>
                        <td class="td__btn">
                            <a id="btn_Link" class="btn" href="/Home/Edit/@article.Id">bewerken</a>
                            <a id="btn_Link" class="btn" asp-controller="Comment" asp-action="Index" asp-route-id="@article.Id">opmerkingen</a>
                            <a id="btn_Delete" class="btn" data-toggle="modal" data-target="#Modal-@article.Id">verwijderen</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
@foreach (var article in ViewData["Articles"] as List<Article>)
{
    <div class="modal fade" id="Modal-@article.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header" id="modal_header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Weet u zeker dat u dit artikel wilt verwijderen?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @article.Title
                </div>
                <div class="modal-footer" id="modal_header">
                    <form asp-action="Delete" asp-controller="Home">
                        <input hidden name="Id" value="@article.Id" />
                        <button type="button" class="btn btn-dark" id="modal_btn_close" data-dismiss="modal">Sluit</button>
                        <button type="submit" class="btn btn-dark" id="modal_btn">Verwijderen</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $('#Home').addClass('navContainer__item navContainer__item_state-active');
</script>
